<!-- The View for the Flight Price search results table. -->


<!-- The ViewModel for this view is the HomePageQuotesViewModel -->
@model FlightPrices.WebApp.ViewModels.Home.HomePageQuotesViewModel

@{
    ViewData["Title"] = "Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Display some title information-->
    <div class="form-group">
        <h4>
            Here's what we found for:
        </h4>
        <h6 style="font-weight:normal">
            @Model.OriginAirport to @Model.DestinationAirport
        </h6>
        <h6 style="font-weight:normal">
            Departing on: @Model.DepartureDate.ToString(" yyyy-MM-dd")
        </h6>
        @if (Model.IsRoundTrip)
        {
            <h6 style="font-weight:normal">
                Returning on: @Model.ReturnDate.ToString(" yyyy-MM-dd")
            </h6>
        }
    </div>


<!-- This table holds the quote data -->
<table id="flights"
       class="table table-striped table-bordered"
       style="width:100%">
    <thead>                                           <!-- Headers for the table -->                         
        <tr>
            <th>Price($)</th>                         <!-- Price Column Header; assumes value in USA dollars -->
            <th>Departure Airline</th>                <!-- Departure Airline Column -->
            <th>Departure Takeoff Time</th>           <!-- Departure takeoff time column -->

                                                      <!-- Only display these columns if a round trip search -->
            @if (Model.IsRoundTrip)                   
            {
                <th>Return Airline</th>               <!-- Return Airline Column -->
                <th>Return Takeoff Time</th>          <!-- Return takeoff time column -->
            }

            <th>Direct</th>                           <!-- Indicates whether the flight is direct -->         
        </tr>
    </thead>

    <!-- This is the actual body of the table -->  
    <tbody>
                                                               <!-- For each quote, create a row -->
        @foreach (var quote in Model.Quotes)
        {
            <tr>
                <td>@Decimal.ToInt32(quote.Cost.Value)</td>    <!-- No cents - display as int -->
                <td>@quote.DepartureAirline</td>               <!-- Display departure airline name -->

                <!-- Display the departure takeoff time -->
                <td data-order="@quote.DepartureTakeoffTime.TimeOfDay">@quote.DepartureTakeoffTime.ToString("hh:mm tt")</td>  

                                                               <!-- Only display if a round trip search -->
                @if (Model.IsRoundTrip)
                {
                    <td>@quote.ReturnAirline</td>              <!-- Display Return Airline name -->

                    <!-- Display the return takeoff time -->
                    <td data-order="@quote.ReturnTakeoffTime.Value.TimeOfDay">@quote.ReturnTakeoffTime.Value.ToString("hh:mm tt")</td>  

                }

                <td>@quote.IsDirect</td>                       <!-- Display whether the flight is direct -->
            </tr>

        }
    </tbody>
</table>

@section scripts
{
    <script>

        // This JQuery function builds and configures the datatable
        $(document).ready(function() 
        {
            // 'flights' is the id of the datatable div element 
            $('#flights').DataTable(
            {
                "bInfo": false,            // Disable displaying data about the current datatable 
                "pageLength": 5,           // Set the number of rows per page to 5
                "bLengthChange": false     // Turn of the menu item for setting the number of rows per page
            });
        });
    </script>
}