@model FlightPrices.WebApp.ViewModels.Home.HomePageQuotesViewModel

@{
    ViewData["Title"] = "Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="flights"
        class="table table-striped table-bordered"
        style="width:100%">
    <thead>
        <tr>
            <th>Price($)</th>
            <th>Departure Airline</th>
            <th>Departure Takeoff Time</th>

            @if (Model.IsRoundTrip)
            {
                <th>Return Airline</th>
                <th>Return Takeoff Time</th>
            }

            <th>Direct</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model.Quotes)
        {
        <tr>
            <td>@Decimal.ToInt32(quote.Cost.Value)</td>
            <td>@quote.DepartureAirline</td>
            <td>@quote.DepartureTakeoffTime</td>

            @if (Model.IsRoundTrip)
            {
                <td>@quote.ReturnAirline</td>
                <td>@quote.ReturnTakeoffTime</td>
            }

            <td>@quote.IsDirect</td>
        </tr>

        }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#flights').DataTable(
                {
                    "bInfo": false,
                    "pageLength": 5,
                    "bLengthChange": false,
                });
        });
    </script>
}