@model FlightPrices.WebApp.ViewModels.Home.HomeSearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm(actionName: "Search",
                     controllerName: "Home",
                     method: FormMethod.Get,
                     new
                     {
                         id = "flightPriceForm"
                     }))
{
    <div class="form-group">
        <label for="origin">
            Where From?
        </label>
        <input type="text"
               class="form-control"
               id="origin"
               aria-describedby="origin-help"
               placeholder="Select Origin"
               asp-for="OriginAirport" />
        @Html.ValidationMessageFor(model => model.OriginAirport, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="destination">
            Where To?
        </label>
        <input type="text"
               class="form-control"
               id="destination"
               aria-describedby="destination-help"
               placeholder="Select Destination"
               asp-for="DestinationAirport" />
        @Html.ValidationMessageFor(model => model.DestinationAirport, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <div>
            <label for="departure-date">
                When Do You Want To Leave?
            </label>
        </div>
        <input id="departure-date"
               type="date"
               asp-for="TakeOffDate"
               min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <div></div>
        @Html.ValidationMessageFor(model => model.TakeOffDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div>
            <label for="return-date">
                When Do You Want To Return?
            </label>
        </div>
        <input id="return-date"
               type="date"
               asp-for="ReturnDate"
               min="@DateTime.Now.ToString("yyyy-MM-dd")"
               disabled />
    </div>
    <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               id="round-trip"
               asp-for="IsRoundTrip" />
        @Html.ValidationMessageFor(model => model.IsRoundTrip, "", new { @class = "text-danger" })
        <label class="form-check-label"
               for="round-trip">
            Round Trip
        </label>
    </div>
    <button type="submit"
            class="btn btn-primary">
        Submit
    </button>
}

@section Scripts
{
    <script>
        $('#round-trip').click(function () {

            if ($('#round-trip').prop("checked")) {
                $("#return-date").prop('disabled', false);
            }
            else {
                $("#return-date").prop('disabled', true);
            }
        });
    </script>

    <script>
        $(document).ready(function ()
        {
            let airports = @Html.Raw(Json.Serialize(@Model.Airports));
            let airportNames = airports.map(a => a.airportName);

            $("#origin, #destination").autocomplete(
            {
                source: airportNames
            });

            $("#departure-date").change(function()
            {
                let departureValue = $("#departure-date").val();
                let departureDate = Date.parse(departureValue);

                if (!document.getElementById("return-date").disabled)
                {
                    let returnValue = $("#return-date").val();
                    let returnDate = Date.parse(returnValue);

                    if (returnDate < departureDate)
                    {
                        document.getElementById("return-date").value = departureValue;
                    }
                }

                document.getElementById("return-date").setAttribute("min", departureValue);

            })
        });
    </script>
}
